:root {
    --bkg-body: rgb(255, 255, 255, 1);
    --link-color: rgba(33, 150, 243, 1);
}

body {
    background-color: var(--bkg-body);
    font-family: 'Roboto', 'Raleway', sans-serif;
}

h1{
    margin: 0px;
    padding: 0px;
}

h2{
    margin: 0px;
    padding: 0px;
}

ul{
    margin: 0px;
    padding: 0px;
}

h3{
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*Estilos header*/

.main-header{
    background-color: aqua;
    height: 80px;
}

.header-nav{
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
}

.header-nav ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.header-nav ul li {
    margin: 30px;
}

/*Estilos footer*/

.footer-section{
    background-color: chocolate;
    height: 252px;
}

/*estilos body index*/

.main-index {
    width: 1600px;
    height: 2410px;
}

.section-descr{
    background-color:yellowgreen;
    height: 311px;
}

.section-dedic{
    background-color: crimson;
    height: 519px;
}

.section-solutions{
    background-color: blueviolet;
    height: 600px;
}

.section-equip{
    background-color: darkcyan;
    height: 648px;
}